<section class="services">
    <div class="container">
    <div class="services-section">
 
   <p class="services-name">What We Are <span class="selected-name"> Offering</span></p>
<h2 class="section-name"> <span class="selected-name">
    Services</span> We Can <br>
    Offer You !</h2>
    <p class="services-text">Lorem ipsum dolor sit amet consectetur. Adipiscing nisl id at arcu enim id gravida pulvinar. Tristique consectetur mi curabitur congue enim dignissim amet justo. Porta morbi nulla aliquet adipiscing.
         Sed diam mauris erat faucibus eu posuere ultricies quisque amet. Quam pellentesque in tristique</p>
<button class="button">Hire Us</button>
</div>
 
    <ul class="advantages-list">
        <li class="advantages-item">
            <h3 class="discribe-advantages-title">UI/UX</h3>
            <p class="discribe-advantages-text">Lorem ipsum dolor sit amet consectetur.
                 Adipiscing nisl id at arcu enim id gravida pulvinar. Tristique</p>
            
        </li>
        <li class="advantages-item"> 
            <h3 class="discribe-advantages-title">Development</h3>
            <p class="discribe-advantages-text">Lorem ipsum dolor sit amet consectetur.
                 Adipiscing nisl id at arcu enim id gravida pulvinar. Tristique</p>
                </li>
        <li class="advantages-item">
            <h3 class="discribe-advantages-title">Mobile Development</h3>
            <p class="discribe-advantages-text" >Lorem ipsum dolor sit amet consectetur.
                 Adipiscing nisl id at arcu enim id gravida pulvinar. Tristique</p>
        </li>
        <li class="advantages-item">
            <h3 class="discribe-advantages-title">SEO</h3>
            <p class="discribe-advantages-text">Lorem ipsum dolor sit amet consectetur.
                 Adipiscing nisl id at arcu enim id gravida pulvinar. Tristique</p>
        </li>
    </ul>
</div>
</section>